body {
  background-color: rgb(255, 186, 82);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: rgb(255, 186, 82);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Courier New", "Courier", serif;
  color: rgb(240, 113, 9);
  font-size: large;
}

main {
  background-color: rgb(255, 186, 82);
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options {
  padding: 5px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 500px));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-around;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  align-items: center;
}

.buttons {
  background-color: #8fd63e;
  border: 0;
  border-radius: 4px;
  color: rgb(71, 28, 22);
  font-family: "Courier New", "Courier", serif;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.buttons:hover {
  background-color: #6cca63;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  background: white;
  width: 800px;
  height: 800px;
  margin: 20px;
  display: flex;
  grid-template-columns: 20px; /* will be container pixels divided by number of divs per line */
  grid-template-rows: 20px;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
}
#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  background: rgb(240, 113, 9);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgb(71, 28, 22);
  border-radius: 50%;
  z-index: 3;
}

#SelectValue {
  width: 10%;
  height: 50%;
  top: 0;
  background-color: #8fd63e;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(71, 28, 22);
  font-family: "Courier New", "Courier", serif;
}

table {
  width: 100%;
  border-spacing: 0;
}

table,
th,
td {
  border: 1px solid black;
}

.rows {
  display: table-row;
  vertical-align: middle;
  border-color: inherit;
}

.cells {
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid black;
}
